{
  "expo": {
    "name": "Pattadar",
    "slug": "pattadar",
    "scheme": "pattadar",
    "ios": {
      "bundleIdentifier": "com.rfactory.pattadar"
    },
    "android": {
      "package": "com.rfactory.pattadar",
      "intentFilters": [
        {
          "action": "VIEW",
          "autoVerify": true,
          "data": [
            {
              "scheme": "https",
              "host": "REPLACE_WITH_APP_DOMAIN",
              "pathPrefix": "/verify"
            }
          ],
          "category": ["BROWSABLE", "DEFAULT"]
        }
      ]
    }
  }
}
